<header class="container">
  <h1>Angular Testing</h1>
  <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Architecto, rerum nihil temporibus nisi fuga aut in unde dicta dignissimos explicabo sit, culpa dolore corporis maxime odit voluptatum voluptates ex iusto.</p>
  <nav>
    <ul>
      <li>
        <a routerLink="/">Home</a>
        <a routerLink="/people">peoples</a>
        <a routerLink="/products">Products</a>
        <a routerLink="/pico-preview">pico</a>
        </li>
    </ul>
  </nav>
</header>
<router-outlet></router-outlet>
